<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://asplab6b.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>asplab6b.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>asplab6b</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$asplab6b</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=max.bcit.ca;Initial Catalog=Northwind;User ID=bcitnw;Password=Bc1tN0rth;Application Name=EntityFramework" Name="Data Source=max.bcit.ca;Initial Catalog=Northwind;User ID=bcitnw;Password=Bc1tN0rth;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lab6b.Models.ApplicationDbContext, Lab6b" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NorthwindContext" Order="2" Enabled="False">
          <Destination Path="Data Source=max.bcit.ca;Initial Catalog=Northwind;User ID=bcitnw;Password=Bc1tN0rth;Application Name=EntityFramework" Name="Data Source=max.bcit.ca;Initial Catalog=Northwind;User ID=bcitnw;Password=Bc1tN0rth;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lab6b.Models.NorthwindContext, Lab6b" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=max.bcit.ca;Initial Catalog=Northwind;User ID=bcitnw;Password=Bc1tN0rth;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NorthwindContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Northwind.csdl|res://*/Models.Northwind.ssdl|res://*/Models.Northwind.msl;provider=System.Data.SqlClient;provider connection string="Data Source=max.bcit.ca;Initial Catalog=Northwind;User ID=bcitnw;Password=Bc1tN0rth;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>